.container-div{
    display: flex;
    width: 100%;
}
.side-navbar{
    width: 18%;
    height: 625px;
    background-color:rgb(232,231,224);
}
.bank-name{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 40px;
}
li{
    margin-bottom: 15px;
    list-style: none;
}
.side-nav-link{
    text-decoration: none;
    color: rgb(30,30,30) !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.active-one{
    padding-bottom: 10px;
    width: fit-content;
   border-bottom: thick solid rgb(255,255,255);
}
.middle-body{
    width: 82%;
    height: 625px;
}
.search-div{
    width: 280px;
    height: 40px;
    border: 2px solid rgb(232,231,224);
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 9px;
}
.search-input{
    border: 0;
    margin-top: 5px;
}
.username-div{
    margin-left: 920px;
    margin-top: -50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.current-balance-div{
    width: 300px;
    height: 200px;
    margin-top: 30px;
    margin-left: 740px;
    border-radius: 20px;
    background-image: repeating-linear-gradient(to right,rgb(43,43,43)10%, rgb(59,59,59)20%, rgb(78,78,78)20%);
}
.current-balance-text{
    color: white;
    font-size: 18px;
}
.amount-text{
    color: white;
    font-size: 25px;
}
.account-number{
    color: white;
    font-size: 14px;
}
.master-card{
    margin-left: 250px;
    margin-top: -30px;
}
.basic-transactions{
    display: flex;
    margin-top: -160px;
    margin-left: 30px;
}
.fund-acct{
    width: 120px;
    height: 80px;
    border: 2px solid rgb(232,231,224);
    border-radius: 9px;
}
.basic-transactions-link{
    text-decoration: none;
    color: rgb(30,30,30) !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
}