.container-div{
    display: flex;
    width: 100%;
}
.side-navbar{
    width: 18%;
    height: 625px;
    background-color:rgb(232,231,224);
}
.bank-name{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 40px;
}
li{
    margin-bottom: 15px;
    list-style: none;
}
.side-nav-link{
    text-decoration: none;
    color: rgb(30,30,30) !important;
}