.container-div{
    display: flex;
    width: 100%;
}
/* :root{

} */
.navbar{
    display: none !important;
}
.side-navbar{
    width: 18%;
    height: 625px;
    background:linear-gradient(to bottom right,rgba(8,8,138,.308),rgba(233,120,139,.329))
    /* background-color:rgb(29,18,128) !important; */
}
.bank-name{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 40px;
}
li{
    margin-bottom: 15px;
    list-style: none;
}
.side-nav-link{
    text-decoration: none;
    color: rgb(30,30,30) !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.side-nav-link:hover{
    transition: all 2s !important;
    transform: translateX(100) !important;
}
.active-one{
    /* padding-bottom: 10px;
    width: fit-content;
   border-bottom: thick solid rgb(255,255,255); */
   background-color:rgb(29,18,128) !important;
   height: fit-content !important;
   width: fit-content !important;
   padding: 10px;
   color: white !important;
   outline: 0;
}
.middle-body{
    width: 82%;
    height: 625px;
}
.search-div{
    width: 280px;
    height: 40px;
    border: 2px solid rgb(232,231,224);
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 9px;
}
.search-input{
    border: 0;
    margin-top: 5px;
    outline-color: initial !important;
    outline-style: none !important;
    outline-width: initial !important;
}
.username-div{
    margin-left: 750px;
    margin-top: -50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.current-balance-div{
    width: 300px;
    height: 200px;
    margin-top: 30px;
    margin-left: 740px;
    border-radius: 20px;
    background-color:rgb(29,18,128) !important;
}
.current-balance-text{
    color: white;
    font-size: 18px;
}
.amount-text{
    color: white;
    font-size: 25px;
}
.account-number{
    color: white;
    font-size: 14px;
}
.master-card{
    margin-left: 250px;
    margin-top: -30px;
}
.basic-transactions{
    display: flex;
    margin-top: -160px;
    margin-left: 30px;
}
.fund-acct,.fund-acct2,.fund-acct3,.fund-acct4{
    width: 120px;
    height: 80px;
    /* border: 2px solid rgb(232,231,224); */
    border-radius: 9px;
    background-color:rgb(29,18,128) !important;
}
.basic-transactions-link{
    text-decoration: none;
    color: white !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.bills-div{
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
}
.pay-bills-transsaction{
    width: 250px;
    height: 200px;
    border: 2px solid rgb(232,231,224);
    border-radius: 9px;
}
.mobile-transaction{
    width: 250px;
    height: 200px;
    border: 2px solid rgb(232,231,224);
    border-radius: 9px;
}
.lolo{
    display: none;
}
@media only screen and (max-width: 600px) {
    .middle-body{
        width: 100%;
        height: 1600px;
        padding-top: 20px;
    }
    .navbar{
        display: inline !important;
        margin-left: 20px;
        
    }
    .lolo{
        font-size: 25px !important;
        display: inline !important;
        margin-left: 120px;
    }
    .navbar-nav{
        margin-left: 100px !important;
    }
    .side-navbar{
        display: none !important;
    }
    .search-div{
        margin-top: 60px;
        margin-left: 20px;
    }
    .username-div{
        margin-left: 75px;
        margin-top: 10px;
    }
    .current-balance-div{
        margin-left: 20px;
        margin-top: 10px;
        /* width: 90%; */
    }
    #basic-transactions-id{
        display: block;
        margin-top: 20px;
        margin-left: 20px;
    }
    .fund-acct{
        width: 40%;
        height: 80px;
        border: 2px solid rgb(232,231,224);
        border-radius: 9px;
    }
    .fund-acct2{
        width: 40%;
        height: 80px;
        border: 2px solid rgb(232,231,224);
        border-radius: 9px;
        position: relative;
        left: 160px;
        top: -80px;
    }
    .fund-acct3{
        width: 40%;
        height: 80px;
        border: 2px solid rgb(232,231,224);
        border-radius: 9px;
        position: relative;
        left: 0px;
        top: -60px;
    }
    .fund-acct4{
        width: 40%;
        height: 80px;
        border: 2px solid rgb(232,231,224);
        border-radius: 9px;
        position: relative;
        left: 160px;
        top: -141px;
    }
    .bills-div{
        display: block;
        margin-top: -120px;
        margin-left: 20px;
    }
    .pay-bills-transsaction{
        width: 90%;
        height: 200px;
        border: 2px solid rgb(232,231,224);
        border-radius: 9px;
        margin-bottom: 30px;
    }
    .mobile-transaction{
        width: 90%;
        height: 200px;
        border: 2px solid rgb(232,231,224);
        border-radius: 9px;
    }
}
